.cart{
    display: flex;
    justify-content: space-evenly;
}
.cart_left p, .cart_right p{
    color: #000;

    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    padding-left: 10px;
    color: #444444;
    border-left: 4px red solid;
    
}

.cart table{
    border-collapse: collapse;
}
.cart table tr th{
    background-color: #CCC;
    
}
th, td{
    padding: 10px;
    border: 1px #666666 solid;
    text-align: center;
}

.vc{
    width: 200px;
    height: 22px;
    flex-shrink: 0;

    border: 1px solid #000;
    background: #FFF;
}
.nhap{
    width: 60px;
    height: 30px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.50);
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
}

.nhap:hover{
    background-color: #FFF;
    color: #000;
}
.tt{
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgb(197, 52, 52);

    color: #FFF;
    text-align: center;
    font-family: Space Grotesk;
    line-height: normal;

    display: inline-block;
    border: 1px solid rgb(197, 52, 52);
    transition: transform 0.3s ease-in-out;
}
.xoa{
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.50);
    color: #FFF;
    text-align: center;
    font-family: Space Grotesk;
    font-style: normal;
    line-height: normal;

    display: inline-block;
    border: 2px solid #333;
    transition: transform 0.3s ease-in-out;

    margin-left: 20px;
}

.tt:hover{
    background-color: #fff;
    color: rgb(197, 52, 52);
    border: 2px solid rgb(197, 52, 52);
    transform: scale(1.1);
}
.xoa:hover{
    background-color: #FFF;
    color: rgba(0, 0, 0, 0.50);
    border: 2px solid #333;
    font-weight: bold;
    transform: scale(1.1);
}
.form_fott{
    display: flex;
}
.form_fo2{
    display: flex;
}
.cart table tr td a{
    text-decoration: none;
    font-weight: bold;
}


