.form_lo{
    display: flex;
    width: 450px;
    height: 100%;
    flex-shrink: 0;

    border-radius: 20px;
    border: 3px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    margin: 0 auto ;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form_lo .dk{

    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 60% */
}

.form_lo label{
    display: flex;
    color: #000;
    font-family: Space Grotesk;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 105% */
}

.dnn{
    display: flex;
    padding-bottom: 20px;
}

.form_lo input{
    width: 350px;
    height: 30px;
    flex-shrink: 0;
    border: 1px solid #000;
    border-radius: 3px;
    background: #FFF;
}
.form_full{
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

.form_full .form_sm input{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    width: 150px;
    height: 35px;


    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Space Grotesk;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 5px;
    border: 1px solid #000;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    margin-bottom: 15px
}

.form_sm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}

/* .fo1{
    margin-top: 15px;
} */
.fo1{
    padding-bottom: 15px;
}
.fo1 label{
    margin-bottom: 5px;
}

.form_sm input:hover{
    background-color: #FFF;
    color: #000;
    border: 2px solid black;
    font-weight: bold;
}

.dnn a{
    padding-top: 10px;
    text-decoration: none;
}

.dnn a:hover{
    padding-top: 10px;
    text-decoration: none;

    color: red;
}


.form_lo .form_full
#errPass,
#errPhone
{
    color: red;
}

.password-field {
    position: relative;
}

.eye {
    position: absolute;
    right: 35px;
    top: 36%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    /* background-image: url('layout/img/eye-icon.png');  */
    background-size: cover;
}
.hidden{
    display: none;
}
.eye-open {
  display: none;
}
.eye-open.is-active {
  display: block;
}
.eye-open.is-active + .eye-close {
  display: none;
}
