body{
   padding: 0;
   margin: 0;
   font-family:Space Grotesk ;
}
.hdtop{
   display: flex;
   justify-content: center;
   background: #FFF;
}
.right{
   color: #212529;
   font-family: Space Grotesk;
   font-size: 13px;
   font-style: normal;
   padding-left: 30px;
}
.left{
   color: #000;
   font-family: Space Grotesk;
   font-size: 14px;
   font-style: normal;
   padding-left: 470px;
}
.phone svg, .donhang svg{
   position: relative;
   top:5px;
}
a{
   color: #000;
   text-decoration-line: none;
}
a:hover{
   color: rgb(238, 63, 92);
}
svg{
   margin-top: 5px;
}
.headerbot{
   background-color: #0f111d;
   height: 100px;
   display: flex;
   justify-content: center;
   top: 0;
   bottom: 0;
   margin: 0;
   padding-left: 70px;
}
.banner {
   display: flex;
   
   overflow: hidden;
}

.banner img {
   width: 1700px;
   height: auto;
   animation: slide 9s infinite;
}

@keyframes slide {
   0%, 25% {
      transform: translateX(0%);
   }
   33.33%, 58.33% {
      transform: translateX(-100%);
   }
   66.66%, 91.66% {
      transform: translateX(-200%);
   }
   100% {
      transform: translateX(0%);
   }
}
.banner img.active {
   transform: translateX(0%);
}

.banner img.next {
   transform: translateX(-100%);
}
.boxleft img,
.boxright img,
.boxnews {
   
   height: 505.7px;
}
.containerfull,
.row {
   float: left;
   width: 100%;
}
.containerfull h3{
   text-align: center;
   font-size:25px;
}
.buttons {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.buttons button {
   margin: 0 10px;
}   
section,
.mr30 {
   margin: 30px 0px;
}
h1 {
   text-align: left;
   font-size: 24pt;
   margin: 0px;
}

h2 {
   font-size: 18pt;
   padding-left: 10px;
   color: #444444;
   border-left: 4px red solid;
}
#dm{
   text-align: right;
   font-size: 14pt;
   margin: 0px;
   

}
.logo a img{
   width: 125px;
   height: 125px;
}
.logo{
   position: relative;
   bottom: 10px;
}

.headerbot nav a{
   color: #FFF;
   font-family: Space Grotesk;
   font-size: 18px;
   font-weight: 300;
}
.menu{
   padding-top: 40px;
   padding-left: 50px;
}
.menu a{
   margin-right: 30px;
}
.menu a:hover {
   color: rgb(238, 63, 92);
 
}


.icon{
   display: flex;
   padding-left: 170px;
   padding-top: 30px;
}
.icon a{
   margin-right: 20px;
}
.user{
   position: relative;
   bottom: 5px;
   padding-top: 5px;
}


/* TÌM KIẾM */
.timkiem{
   /* width: 100px; */
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 100px;
}
.box{
   height: 25px;
   display: flex;
   cursor: pointer;
   padding: 10px 20px;
   background:#FFF ;
   border-radius: 30px;
   align-items: center;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0,3);
}
.box input{
   font-family: Space Grotesk;
   width: 130px;
   outline: none;
   border: none;
   font-weight: 500;
   transition: 0.8s;
   background: transparent;
}
.box a .fa-search{
   font-size: 20px;
   font-weight: 50;
}
.search{
   border: none;
   height: 10px;
   margin-bottom: 25px;
}

.right{
   text-align: right;
   padding-right: 20px;
   
}
.right a{
   text-decoration: none;
   color: gray;
   padding-left: 10px;
   font-size: 10px;
}
.containerfull,
.row {
   float: left;
   width: 100%;
}
.banner {
   display: flex;
   width: 100%;
   overflow: hidden;
}

.banner img {
   width: 100%;
   height: auto;
   animation: slide 9s infinite;
}

@keyframes slide {
   0%, 25% {
      transform: translateX(0%);
   }
   33.33%, 58.33% {
      transform: translateX(-100%);
   }
   66.66%, 91.66% {
      transform: translateX(-200%);
   }
   100% {
      transform: translateX(0%);
   }
}
.banner img.active {
   transform: translateX(0%);
}

.banner img.next {
   transform: translateX(-100%);
}

.buttons {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.buttons button {
   margin: 0 10px;
}   
.boxleft img,
.boxright img,
.boxnews {
   
   height: 505.7px;
}

.container2 {
   margin: 0 auto;
   padding-left:200px;
   display: flex;
}
.container2 img{
   padding-right: 100px;
   width: 270px;
   height: 100px;
}
.container2 a{
   margin-right: 20px;
   text-align: center;
   color:#000000;
   font-size: 20px;
}
.menutop{
   padding-left: 300px;
   padding-top: 20px;
}
.container2 a:hover{
color:#993300;
}
.container {
   width: 1200px;
   margin: 0 auto;
}

.padd20 {
   padding: 15px 0px;
}

.padd50 {
   padding: 50px 0px;
}

.box50 {
   float: left;
   width: calc(50% - 30px);
}
.boxspct {
   float: left;
   width: 25%;
   width: calc(25% - 30px);
   position: relative;
}
.gia_dathang{
   display: flex;
   justify-content: space-between;
   width: 270px;
}
/* .gia_dathang a img{
   width: 30px;
   height: 30px;

} */
#themgiohang{
   border: none;
   background-color: white;
   width: 30px;
   height: 35px;
  
}
#themgiohang img{
   width: 30px;
   height: 24px;
   margin-top: -70px;
}

.boxsp {
   float: left;
   width: 25%;
   width: calc(25% - 30px);
   position: relative;
}
.box25 {
   float: left;
   width: 25%;
   width: calc(25% - 30px);
   position: relative;
}

.best {
   position: absolute;
   left: 0;
   right: 0;
   width: 100px;
   height: 100px;
   background-image: url("../images/best-seller.png");
   background-size: 100%;
}
.boxspct img {
   max-width: 400px;
   max-height: 250px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px #999999;
}
.boxsp img {
   max-width: 400px;
   max-height: 250px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px #999999;
}
.boxsp p{
   text-align: center;
   color:#000000;
   font-size: 15px;
   margin: 5px;
}
.box50 img {
   max-width: 400px;
   max-height: 300px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px #999999;
}
.box25 .hinh {
   display: flex;
   max-width: 390px;
   max-height: 270px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px #999999;
   margin-bottom: 15px;
   
}

.box25 p{
   /* text-align: center;
   color:#000000;
   font-size: 20px;
   font-weight: bold;
   margin: 5px; */
   display: flex;
   width: 243.9px;
   height: 18px;
   flex-direction: column;
   justify-content: center;
   flex-shrink: 0;
   color: #000;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: Space Grotesk;
   font-size: 13.891px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
}
.box25{
   padding-bottom: 20px;
   margin-left: 20px;
}

.tieudedm{
   color:#000000;
   font-size: 25px;
   margin: 5px;
   border-left: 3px solid  #993300;
}

/* section, */
/* .mr30 {
   margin: 30px 0px;
} */
/* .mr30{
   display: flex;
   justify-content: space-between;
}
 */
.mr15 {
   margin-right: 10px;
   
}

.mr5pt {
   margin-right: 5%;
}

.mr2pt {
   margin-right: 2%;
}

.boxnews {
   float: left;
   width: calc(33.33% - 2%);
}

.boxnews img {
   border-radius: 10px;
}

.bg1 {
   background-color: #fef8e6;
}



.boxleft {
   float: left;
   width: 45%;
}

.boxright {
   float: left;
   width: 48%;
}

.boxleft_bgw {
   float: left;
   width: 35%;
}

.boxright_bgw {
   float: left;
   width: 60%;
}
.boxright .mr15{
   margin-right: 80px;
}



.boxleft_bgw_left {
   float: right;
   width: 80%;
   margin-top: 25%;
}

/* p {
   text-align: justify;
   line-height: 150%;
   color: #666666;
} */


.box25 button{
   color: black;
   font-size: 13pt;
   font-weight: bold;
   width: 100%;
   border: 2px red solid;
   border-radius: 5px;
   padding: 10px 0px;
   background-color: white;
   margin-bottom: 20px;
}
.box25 button {
   margin-bottom: 20px;
}
.box25 button:hover{
   color:red;
   background-color: #000000;
   
}

h1 {
   text-align: left;
   font-size: 24pt;
   margin: 0px;
}

h2 {
   font-size: 18pt;
   padding-left: 10px;
   color: #444444;
   border-left: 4px red solid;
}

.price {
   /* text-align: center;
   color: #993300;
   font-size: 12pt;
   float: left;
   width: 100%;
   padding: 8px 0px; */
   display: flex;
   width: 80px;
   height: 24px;
   flex-direction: column;
   justify-content: center;
   flex-shrink: 0;
   color: #EB5757;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: 24px; /* 171.429% */
   }

/*  a {
   color: #000;
   font-size: 13pt;
   font-weight: bold;
   text-decoration: none;
   padding-left: 10px;
} */

/* a:hover {
   color: #993300;
} */

.boxleft {
   float: left;
   width: 20%;
}

.boxright {
   float: left;
   width: 78%;
}

.mb {
   margin-bottom: 50px;
}

.mr10{
   display: flex;
   gap: 40px;
}
.mr10 {
   margin: 30px 0px;
}
.imgchitiet img{
   width: 400px;
   height: 400px;
} */
/* input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
}
input[type=password], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
} */
.bgbanner{
   font-size: 35px;
   text-align: center;
}
/* label {
   padding: 12px 12px 12px 0;
   display: inline-block;
} */

#dangky {
   background-color: #04AA6D;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: right;
}

#dangky:hover {
   background-color: #45a049;
}

.container {
   border-radius: 5px;
   padding: 20px;
}

.col-25 {
   float: left;
   width: 25%;
   margin-top: 6px;
}

.col-75 {
   float: left;
   width: 75%;
   margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
   content: "";
   display: table;
   clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
   width: 100%;
   margin-top: 0;
}
}
#dm{
   text-align: right;
   font-size: 24pt;
   padding-right: 10px;
   

}
.danhmuc a{
   border: 3px solid black;
   border-radius: 5px;
   margin-right: 5px;
   text-align: center;
   padding: 5px;
   margin: 5px;
   font-size: 15px;
   
}
.danhmuc{
   text-align: center;
}

.danhmucsp{
   display: flex;
   flex-direction: column;
   width: 100px;

}
.danhmucsp a{
   padding-top: 10px;
   border-bottom: 3px solid black;
   font-size: 20px;
}
/* FOOTER */
footer{
   padding: 20px;
   margin: 20px;
   display: flex;
   justify-content: center;
   border-top: 1px solid rgb(246, 244, 244);
}
.footerleft{
   width: 370px;
   border-right:1px solid #e0dddd;
}

.footerdc{
   margin: 1px;
}
.footerleft .logofooter img{
   background: black;
   border-radius: 30px;
   width: 130px;
   height: 120.37px;
}
.footerleft p{
   color: #000;
   font-family: Space Grotesk;
   font-size:15px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.mn{
   display: flex;
}
.vechungtoi{
   margin: 10px;
   padding-left: 5px;
}
.vechungtoi p{
   color: #000;
   font-family: Space Grotesk;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   }
.vechungtoi a{
   color: #000;
   font-family: Space Grotesk;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-top: 10px;
}
.vechungtoi .menufooter a{
   display: flex;
}
form .text{
   font-family: Space Grotesk;
   width: 180px;
   font-size: 15px;
   height: 42.593px;
   color: #000;
}
form .submit{
   font-family: Space Grotesk;
   width: 107px;
   height: 47px;
   font-weight: 200;
   background: #000;
   color: #FFF;
}
form .submit:hover{
   background: #FFF;
   color: #000;
}
.vechungtoi a:hover{
   color: rgb(238, 63, 92);
}
.iconketnoi{
   display: flex;
}
.menufooter svg{
   width: 30px;
   margin: 0;
   padding: 0;
}
.banquyen {
   display: flex;
   justify-content:center;
   background: #fbfafa;
   margin: 0;
   padding: 0;
}
.thanhtoan{
   padding-left: 30px;
}
.iconthanhtoan{
   display: flex;
   
}
.iconthanhtoan a{
   margin-right: 10px;
}


.containerfull .container .mr30 h1{
   text-align: center; font-family:Arial, Helvetica, sans-serif
}

/* Style cho menu phụ */
.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 110px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a {

   padding: 12px 10px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {
   background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
   display: block;
}

/* css cho cập nhật tk */
.form_tt {
   max-width: 400px;
   margin: 20px auto;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 10px;
   background-color: #f8f8f8;
   font-family: Arial, sans-serif;
}
.form_tt img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 20px;
}

/* label {
   display: block;
   font-size: 16px;
   margin-bottom: 8px;
   color: #555;
} */

.fott1 {
   margin-top: 10px;
}

.dropdown-content .icon_logout{
      display: flex;

}
.dropdown-content .icon_logout img{
   margin-left: 5px;
   margin-right: 0px;
   margin-top: 7px;
   width: 20%;
   height: 20%;
   color: rgb(238, 63, 92);
}
.dropdown-content .icon_logout a{
   margin-left: 0;
}
.dropdown-content div:hover{
   background-color: #f1f1f1;
}

.icon_login{
   width: 110px;
   display: flex;
}

.icon_login img{
   width: 20%;
   height: 20%;
   color: rgb(238, 63, 92);
   margin-left: 5px;
   margin-top: 18px;
}
